/* Header */
header,
footer {
    background-color: rgb(47, 255, 61);
}

/* .navigation {
    Flex-grow: 1;
    Flex-shrink: 1;
    Flex-basis: auto;
} */

#hamburger {
    display: none;
}

h1 {
    padding: 20px 0px 20px 50px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header nav ul li {
    padding: 20px;
}

/* Main */
main {
    background-color: black;
    color: grey;
}

section {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

/* About section */
.about-container {
    display: flex;
    Flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#about img {
    width: 100%;
}

.about-img {
    Flex-grow: 1;
    Flex-shrink: 0;
    Flex-basis: 40%;
}

.about-p {
    Flex-grow: 1;
    Flex-shrink: 0;
    Flex-basis: 40%;
    padding: 20px;
}

p {
    margin: 20px 0px 20px 0px;
    font-size: 1em;
}

/* Web Design & Development Section */
.code-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.smaller {
    flex-basis: 33%;
}

.code-container img {
    width: 100%;
}

#largest img {
    flex-basis: 100%;
}

/* Testimonials Section */
.testimonials-container {
    display: flex;
    Flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

#testimonials img {
    width: 100%;
}

.testimonial-img {
    flex-basis: 30%;
    margin: 10px 0px 10px 0px;
}

.testimonial-p {
    width: 70%;
    padding: 0 0 0 20px;
}

#testimonials h3 {
    font-size: 1.5em;
    padding: 0px 0px 10px 0px;
}

/* Contact Section */
#contact-img {
    width:20%;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* .contact-form {
    width: 100%;
    margin-bottom: 20px;
} */

/* Footer */
footer {
    text-align: center;
    padding: 50px;
}


/* Media Quesries */
@media screen and (max-width: 701px) {
    .header {
        display: flex;
        align-items: center;
    }
    
    header nav ul {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    #heading {
        Flex-grow: 1;
        Flex-shrink: 0;
        Flex-basis: 80%;
    }

    #hamburger {
        display: block;
        Flex-grow: 1;
        Flex-shrink: 0;
        flex-basis: 20%;
        padding: 20px;
    }

    #hamburger img {
        width: 100%;
    }

    header:hover {
        cursor: pointer;
    }

    header:hover ul {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        width: 100%;
    }

    .about-container {
        flex-direction: column;
        align-content: center;
    }

    .about-img,
    .about-p {
        width: 100%;
    }

    .code-container {
        flex-direction: column;
    }

    .smaller {
        width: 100%;
    }
}